* {
    text-transform: none!important;
}

img {
    border: none!important;
}

.reveal ul {
    line-height: 1.4;
}

.reveal h4 {
    font-weight: 400;
}

.reveal a:hover img {
    box-shadow: none!important;
}

.reveal pre {
    box-shadow: none;
    border-radius: 4px;
}

.reveal pre code {
    padding: 0.5em;
}

.reveal li{
    line-height: 1.8;
}
#profile img {
    max-width: 30%;
    border-radius: 50%;
    box-shadow: none!important;
}

#link img {
    width: 8%;
    border-radius: 50%;
    box-shadow: none!important;
}

.present > #profile ,.present > #link img{
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-name:popIn;
}

#profile{
    animation-delay: 0.4s;
}
#link a:nth-child(1) img{
    animation-delay: 0.6s;
}
#link a:nth-child(2) img{
    animation-delay: 0.8s;
}
#link a:nth-child(3) img{
    animation-delay: 1.0s;
}
#link a:nth-child(4) img{
    animation-delay: 1.2s;
}
#link a:nth-child(5) img{
    animation-delay: 1.4s;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes popIn {
    0% {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        -webkit-transform: scale3d(1.08, 1.08, 1.08);
        transform: scale3d(1.08, 1.08, 1.08);
    }
    60% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    80% {
        -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}