<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>${title}</title>

    <link rel="stylesheet" href="../css/reveal.css">
    <link rel="stylesheet" href="../css/theme/white.css">
    <link rel="stylesheet" href="../lib/css/atom-one-dark.css">
    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section>
                <section>
                    <h1>${title}</h1>
                </section>
                <section>
                    <div id="profile">
                        <h3>政治</h3>
                        <img src="../image/avatar.jpg" />
                    </div>
                    <div id="link">
                        <a href="https://www.facebook.com/he.z.min.1" target="_blank">
                            <img src="../image/facebook.svg" />
                        </a>
                        <a href="mailto:wl00887404@gmail.com">
                            <img src="../image/email.svg" />
                        </a>
                        <a href="https://github.com/wl00887404" target="_blank">
                            <img src="../image/github.png" />
                        </a>
                        <a href="https://codepen.io/wl00887404/" target="_blank">
                            <img src="../image/codepen.png" />
                        </a>
                        <a href="https://wl00887404.github.io" target="_blank">
                            <img src="../image/blog.svg" />
                        </a>
                    </div>
                </section>
            </section>
            ${slides}
        </div>
    </div>

    <script src="../lib/js/head.min.js"></script>
    <script src="../js/reveal.js"></script>
    <script>
        Reveal.initialize({
            dependencies: [{
                    src: '../plugin/notes/notes.js',
                    async: true
                }
            ]
        });
    </script>
</body>

</html>